<section class="container py-5">
  <div class="row align-items-stretch">
    <!-- Text column -->
    <div
      class="col-12 col-lg-8 order-2 order-lg-1 d-flex flex-column justify-content-evenly text-center text-lg-start mb-4 mb-lg-0">
      <div>
        <h1 class="header">Hi, I am Mirna</h1>
        <h1 class="header">A Frontend Developer</h1>
      </div>
      <p class="description">
        I am a passionate frontend developer with experience in building
        responsive and user-friendly web applications. I love turning ideas into
        reality using code.
      </p>
      <div class="d-inline-block">
        <a
          class="btn btn-primary"
          href="assets/pdf/Mirna_Milad_Frontend_developer_CV.pdf"
          download="Mirna_Resume.pdf">
          Download Resume
        </a>
      </div>
    </div>

    <!-- Image column -->
    <div
      class="col-12 col-lg-4 order-1 order-lg-2 d-flex justify-content-center align-items-center">
      <img
        src="assets/images/avatar.png"
        alt="Intro Image"
        class="img-fluid rounded-circle" />
    </div>
  </div>
</section>
