::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--portfolio-light-gray-light);
  border-radius: var(--bs-border-radius-sm);
}

::-webkit-scrollbar-thumb {
  background: var(--gradient-primary);
  border-radius: var(--bs-border-radius-sm);
  
  &:hover {
    background: var(--portfolio-dark-orange);
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4.5rem;
}

.bg-light {
  background-color: transparent !important;
}

.container-lg {
  position: relative;
  z-index: 1;
  
  @media (min-width: 992px) {
    max-width: 1140px;
  }
  
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}
