<footer class="footer-section py-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-3 col-md-6">
        <app-about-me></app-about-me>
      </div>
      <div class="col-lg-3 col-md-6">
        <app-quick-links [quickLinks]="quickLinks"></app-quick-links>
      </div>

      <div class="col-lg-3 col-md-6">
        <app-skills [skills]="skills"></app-skills>
      </div>

      <div class="col-lg-3 col-md-6">
        <app-contact-info
          [contactInfo]="contactInfo"
          [socialLinks]="socialLinks"></app-contact-info>
      </div>
    </div>

    <app-copyright></app-copyright>
  </div>
</footer>
