<div class="footer-widget">
  <h5 class="widget-title mb-3">Contact Info</h5>
  <ul class="contact-list">
    @for (contact of contactInfo(); track contact.label) {
      <li class="contact-item">
        @if (contact.link) {
          <a [href]="contact.link" class="contact-link">
            <i class="bi {{ contact.icon }}"></i>
            <span>{{ contact.value }}</span>
          </a>
        } @else {
          <div class="contact-info">
            <i class="bi {{ contact.icon }}"></i>
            <span>{{ contact.value }}</span>
          </div>
        }
      </li>
    }
  </ul>

  <div class="social-links mt-4">
    @for (item of socialLinks(); track item.icon) {
      <a
        [href]="item.url"
        target="_blank"
        rel="noopener noreferrer"
        class="social-link"
        [attr.aria-label]="item.icon">
        <i class="bi {{ item.icon }}"></i>
      </a>
    }
  </div>
</div>
