@use './assets/styles/styles.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh; // Fallback for older browsers, 100dvh used where supported
  height: 100dvh;
  width: 100%;
  font-family: 'Heebo', sans-serif;
  background: var(--portfolio-light-gray);
  color: var(--portfolio-dark);
}
